<nav class="navbar fixed-bottom navbar-dark bg-dark" id="sticky-footer">
  <a class="navbar-brand" href="/">Ropes</a>
  <p class="navbar-brand text-justify">Everything that the new hires need to learn about Ruby on Rails.</p>
</nav>
