<div class="container">
  <table>
    <tr>
      <th><h1>Images List</h1></th>
    </tr>
    <% @images.each do |img| %>
        <tr>
          <td><img width="400" src=<%= img.image_url %> /></td>
        </tr>
    <% end %>
  </table>
</div>
